/* EWW Styles */

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
}

window {
  background-color: rgba(26, 27, 38, 0.9);
  color: #cdd6f4;
}

.left-widgets, .center-widgets, .right-widgets {
  padding: 0 10px;
}

label {
  padding: 0 5px;
}

.systray {
  padding: 0 5px;
}
